body{
    position: relative;
    
}

.maps{
    margin-top: -9%;
}


.states{
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
    
}

.emissions{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.states path:hover{
    fill: white;
    
}

svg {
    display: flex;
    justify-content: center;
}

h1, h2, h3{
    display: flex;
    justify-content: center;
}